body {
    font-family: "Roboto Slab";
    background-color:rgb(252,225,230);
}

a {
    text-decoration:none;
    font-size: 20px;
}

p {
    font-size: 20px;
}

h1 {
    font-size: 40px;
}

.h2 {
    font-size: 35px;
    color:rgb(193, 90, 244);
}

.h1 {
    font-size: 40px;
    color:rgb(193, 90, 244);
}

.h3 {
    font-size: 24px;
    color:rgb(213, 160, 244);
}

.wrapper {
    margin: 50px auto 100px auto;
    padding: 0 0 0 0;
    max-width:70%;
}

@media screen and (max-width: 768px) {
    .wrapper {     margin: 0 auto 100px auto;
        padding: 0 0 0 0;
        max-width:90%;
    }
}